/* Couleurs et polices */

.primary
{
    color : rgb(147,86,220);
}

.secondary 
{
    color : #FF79DA;
}

.tertiary 
{
    color : rgb(153,226,208);
}

.color--contrast
{
    color : white;
}

.police--1
{
    font-family : 'Shrikhand','sans-serif';
} 

.police--2
{
    font-family: 'Roboto','sans-serif';
}


/* styles conteneurs principaux */ 

a
{
    outline : none;
    text-decoration: none;
}

footer
{
    background-color: black;
    font-size: 0.8em;
    padding-left: 4%;
}

#links_footer
{
    display : flex;
    flex-direction : column;
}